@font-face {
  font-family: "MonaS10";
  src: url("MonaS10.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaS10";
  src: url("MonaS10-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaS8x12";
  src: url("MonaS8x12.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaS10x12";
  src: url("MonaS10x12.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaS10x12";
  src: url("MonaS10x12-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaS12";
  src: url("MonaS12.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaS12";
  src: url("MonaS12-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona12 Color Emoji";
  src: url("Mona12ColorEmoji.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona12 Emoji";
  src: url("Mona12Emoji.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaS12 Text KR";
  src: url("MonaS12TextKR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.monas10 {
  font-family: "MonaS10", sans-serif;
}

.monas8x12 {
  font-family: "MonaS8x12", sans-serif;
}

.monas10x12 {
  font-family: "MonaS10x12", sans-serif;
}

.monas10x12-bold {
  font-family: "MonaS10x12", sans-serif;
  font-weight: 700;
}

.monas12 {
  font-family: "MonaS12", sans-serif;
}

.monas12-bold {
  font-family: "MonaS12", sans-serif;
  font-weight: 700;
}

.monas12-kr {
  font-family: "MonaS12", sans-serif;
  font-feature-settings: "locl" 1;
  font-language-override: "KOR ";
}

.monas12-jp {
  font-family: "MonaS12", sans-serif;
  font-feature-settings: "locl" 1;
  font-language-override: "JAN ";
}

.monas12-sc {
  font-family: "MonaS12", sans-serif;
  font-feature-settings: "locl" 1;
  font-language-override: "ZHS ";
}

.monas12-tc {
  font-family: "MonaS12", sans-serif;
  font-feature-settings: "locl" 1;
  font-language-override: "ZHT ";
}

.monas12-hk {
  font-family: "MonaS12", sans-serif;
  font-feature-settings: "locl" 1;
  font-language-override: "ZHH ";
}

.mona12-emoji-color {
  font-family: "Mona12 Color Emoji", sans-serif;
}

.mona12-emoji {
  font-family: "Mona12 Emoji", sans-serif;
}
